<!DOCTYPE html> 
<html> 
	<head>
		<title>Smart Voting Machine</title>

		<script src="/static/js/jquery-2.2.4.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>	
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/background.css">
		
		<style type="text/css">

			body {
				background-image: url(/static/images/ec-wallpaper.jpg);
			}

			.mbody {
				padding-top: 10vh;
			}

			.header {
				height: 25vh;
			}

		</style>
	</head>
	<body>
		<div class="header">
			<div id="logo">
				<img src="/static/images/nitte-logo.png">
				<img src="/static/images/nmit.png" class="pull-right">
			</div>
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			  	<ul class="nav nav-pills pull-left">
			  		<li role="navigation"><a href=" ">EC</a></li>
			  	</ul>
			  	<ul class="nav nav-pills pull-right"> 
			  		<li role="navigation"><a href="authentication">Authentication</a></li>
			  		<li role="navigation"><a href="enrollment">Enrollment</a></li>
			  		<li role="navigation"><a href="about">About</a></li>
			  		<li role="navigation"><a href="contact">Contact</a></li>
			  	</ul>
			  </div>
			</nav>
		</div>
		<div class="mbody">
			<center>
				<div class="alert_msg_div">
					<div class="alert_msg_header"><strong>ALERT MESSAGE</strong></div>

					<div class="alert_msg_body">
						{% if voted_now %}
							<div class="alert alert-success">
								{{ msg }}
							</div>
						{% endif %}

						{% if sensor_ni %}
							<div class="alert alert-info">
								{{ msg }}
							</div>
						{% endif %}

						{% if invalid_voter %}
							<div class="alert alert-info">
								{{ msg }}
							</div>
						{% endif %}

						{% if has_voted %}
							<div class="alert alert-danger">
								{{ msg }}
							</div>
						{% endif %}

						{% if voter_present %}
							<div class="alert alert-info">
								{{ msg }}
							</div>
						{% endif %}

						{% if finger_not_matched %}
							<div class="alert alert-info">
								{{ msg }}
							</div>
						{% endif %}

						{% if enroll_failed %}
							<div class="alert alert-success">
								{{ msg }}
							</div>
						{% endif %}

						{% if stored %}
							<div class="alert alert-success">
								{{ msg }}
							</div>
						{% endif %}
					</div>

				</div>
			</center>
		</div>
		<footer>
		    <div class="footer-bottom">
		        <div class="container-fluid">
		            <p class="pull-right"> Copyright © Smart EVM Team. All right reserved. </p>
		            <p>Under the guidance of <strong> Dr. Thippeswamy M N </strong> (HoD)</p>
		            <p> 
		            	<ul>
		            		<li>A M LOHIT</li>
		            		<li>HAASHITHA P</li>
		            		<li>ANIL KUMAR</li>
		            		<li>ISHITA ROY</li>
		            	</ul>
		            </p>
		        </div>
		    </div>
		</footer>
	</body> 
</html>