<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Smart Voting Machine</title>
	<!--
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script> -->
	
	<!-- jQuery library -->
	<script src="/static/js/jquery-2.2.4.min.js"></script>
	
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/home.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<style type="text/css">
		.mbody {
			color: white;
			font-family: anivers;
			font-size: 16px;
		}
	</style>
</head>
<body style="background-color: #f6f6f6">
	<div class="header">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		  	<ul class="nav nav-pills pull-left">
		  		<li role="navigation"><a href="#">EC</a></li>
		  	</ul>
		  	<ul class="nav nav-pills pull-right"> 
		  		<li role="navigation"><a href="authentication">Authentication</a></li>
		  		<li role="navigation"><a href="about">About</a></li>
		  		<li role="navigation"><a href="contact">Contact</a></li>
		  	</ul>
		  </div>
		</nav>
	</div>
	<div class="mbody">
		<form method="post" name="contact" action="#">

            <input type="text" id="author" placeholder="author" class="required" />
        
            <input type="text" id="email" placeholder="email" class="required" />
        
            <input type="text" id="subject" placeholder="subject" class="required" />
        
            <input type="submit" name="Submit" value="Submit" class="submit_button" />
        </form>
	</div>
	<div>
		<footer>
		    <div class="footer-bottom">
		        <div class="container-fluid">
		            <p class="pull-right"> Copyright © Smart EVM Team. All right reserved. </p>
		            <p> 
		            	<ul>
		            		<li>A M LOHIT</li>
		            		<li>ANIL KUMAR</li>
		            		<li>HAASHITHA P</li>
		            		<li>ISHITA ROY</li>
		            	</ul>
		            </p>
		        </div>
		    </div>
		    <!--/.footer-bottom--> 
		</footer>
	</div>
</body>
</html>