<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Smart Voting Machine</title>
	
	<script src="/static/js/jquery-2.2.4.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="/static/css/home.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<style type="text/css">

		input {
			color: black;
		}

		.mbody {
			padding-top: 5vh;
		}

	</style>
</head>
<body>
	<div class="header">
		<div id="logo">
			<img src="/static/images/nitte-logo.png">
			<img src="/static/images/nmit.png" class="pull-right">
		</div>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			  	<ul class="nav nav-pills pull-left">
			  		<li role="navigation"><a href=" ">EC</a></li>
			  	</ul>
			  	<ul class="nav nav-pills pull-right"> 
			  		<li role="navigation"><a href="authentication">Authentication</a></li>
			  		<li role="navigation"><a href="enrollment">Enrollment</a></li>
			  		<li role="navigation"><a href="about">About</a></li>
			  		<li role="navigation"><a href="contact">Contact</a></li>
			  	</ul>
			</div>
		</nav>
	</div>
	<div class="mbody">
		<center>
			<div class="contact">
				<div class="contact_header">
					<center>Enter</center>
					Contact Information
				</div>
				<div class="contact_body">
					<form method="post" name="contact" action="#">

			            <input type="text" id="author" placeholder="author" /> <br><br>
			        
			            <input type="text" id="email" placeholder="email" /> <br><br>
			        
			            <input type="text" id="subject" placeholder="subject" /> <br><br>
			        
			            <button class="semi-transparent-button">SUBMIT</button>
			        </form>
				</div>
			</div>
		</center>
	</div>
	<footer>
	    <div class="footer-bottom">
	        <div class="container-fluid">
	            <p class="pull-right"> Copyright © Smart EVM Team. All right reserved. </p>
	            <p>Under the guidance of <strong> Dr. Thippeswamy M N </strong> (HoD, Computer Science & Engineering)</p>
	            <p> 
				<marquee behaviour="alternate">+++ A M LOHIT +++|+++ ANIL KUMAR KUSHWAH +++|+++ HAASHITHA PRABHAKAR +++|+++ ISHITA ROY +++</marquee>
				</p>
	        </div>
	    </div>
	</footer>
</body>
</html>