<!DOCTYPE html>
<html>
<head>
	<title>Smart Voting Machine</title>

	<script src="/static/js/jquery-2.2.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/background.css">

	<style type="text/css">
		
		label {
			float: left;
		}

		input {
			float: right;
			width: 350px;
			color: black;
		}

		.mbody {
			height: 72vh;
		}


	</style>
</head>
<body>
	<div class="header"></div>
	<div class="mbody">
		<center>
			<div style="width: 50vw;">
				<div id="enroll_portal_header">ENROLLMENT PORTAL</div>
				<div id="enroll_portal_body">
					<form action="enroll" method="POST">
						{% csrf_token %}
						<label for="name">Name : </label>
						<input type="text" name="name" > <br>

						<label for="father_name">Father's Name : </label>
						<input type="text" name="father_name" > <br>

						<label for="mother_name">Mother's Name : </label>
						<input type="text" name="mother_name" > <br>

						<label for="voter_id">Voter ID : </label>
						<input type="number" name="voter_id" min= 100000000000 > <br>

						<label for="age">Age : </label>
						<input type="number" name="age" min = 18 max = 150> <br>

						<label for="mobile_number">Mobile Number: </label>
						<input type="text" name="mobile_number" pattern="(7|8|9)[0-9]{9}"> <br>

						<label for="hashes">Fingerprint ID : </label>
						<input type="text" name="hashes" readonly="" value="{{hashes}}"> <br>

						<button class="semi-transparent-button">Submit</button>
						
					</form>
				</div>
			</div>
		</center>
	</div>
	<footer>
	    <div class="footer-bottom">
	        <div class="container-fluid">
	            <p class="pull-right"> Copyright © Smart EVM Team. All right reserved. </p>
	            <p>Under the guidance of <strong> Dr. Thippeswamy M N </strong> (HoD, Computer Science & Engineering)</p>
	            <p> 
				<marquee behaviour="alternate">+++ A M LOHIT +++|+++ ANIL KUMAR KUSHWAH +++|+++ HAASHITHA PRABHAKAR +++|+++ ISHITA ROY +++</marquee>

	            </p>
	        </div>
	    </div>
	</footer>
</body>
</html>